In [1]:
!pip install xlrd==1.2.0

Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.3/103.3 kB 3.3 MB/s eta 0:00:00
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 2.0.1
    Uninstalling xlrd-2.0.1:
      Successfully uninstalled xlrd-2.0.1
Successfully installed xlrd-1.2.0

In [14]:
import xlrd
import pandas as pd
import openpyxl
from openpyxl import load_workbook

In [33]:
xlrd.xlsx.ensure_elementtree_imported(False, None)
xlrd.xlsx.Element_has_iter = True

In [17]:
loc = ("IPL.xlsx")
wb = xlrd.open_workbook(loc)
sheet = wb.sheet_by_index(0)

In [18]:
print(sheet.cell_value(0,0))
print(sheet.cell_value(0,2))
print(sheet.cell_value(3,1))

CRICKET
RAHUL
71.0

In [19]:
print("Total number of Rows:",sheet.nrows)
print("Total number of Columns:",sheet.ncols)
print("Total number of Matches:",sheet.nrows-1)

Total number of Rows: 15
Total number of Columns: 6
Total number of Matches: 14

In [20]:
for i in range(1,sheet.ncols):
  print(sheet.cell_value(0,i))

BUTTLER
RAHUL
DEKOCK
HARDIK
MILLER

In [24]:
userinput = input("Enter player name:")

for i in range(1,sheet.ncols):
  if userinput == sheet.cell_value(0,i):
    print("Player found")
    break
else:
  print("Player not found")

Enter player name:KOHLI
Player not found

*FIND PLAYER & PRINT DATE OF ALL MATCH*

In [28]:
userinput = input("Enter player name:")

for i in range(1,sheet.ncols):
  if userinput == sheet.cell_value(0,i):
    for j in range(1,sheet.nrows):
      print(sheet.cell_value(j,i))
  break
else:
  print("Player not found")

Enter player name:BUTTLER
35.0
100.0
71.0
12.0
54.0
103.0
116.0
8.0
67.0
22.0
30.0
7.0
2.0
2.0

**Allow user to insert player name, print total, high & low score & average using any library **

In [29]:
for i in range(1,sheet.nrows):
  print("MATCH:",sheet.cell_value(i,0))
  for j in range(1,sheet.ncols):
    print("Score of",sheet.cell_value(0,j),"is",sheet.cell_value(i,j))

MATCH: 1.0
Score of BUTTLER is 35.0
Score of RAHUL is 0.0
Score of DEKOCK is 7.0
Score of HARDIK is 33.0
Score of MILLER is 30.0
MATCH: 2.0
Score of BUTTLER is 100.0
Score of RAHUL is 40.0
Score of DEKOCK is 61.0
Score of HARDIK is 31.0
Score of MILLER is 20.0
MATCH: 3.0
Score of BUTTLER is 71.0
Score of RAHUL is 68.0
Score of DEKOCK is 1.0
Score of HARDIK is 27.0
Score of MILLER is 6.0
MATCH: 4.0
Score of BUTTLER is 12.0
Score of RAHUL is 24.0
Score of DEKOCK is 80.0
Score of HARDIK is 50.0
Score of MILLER is 12.0
MATCH: 5.0
Score of BUTTLER is 54.0
Score of RAHUL is 0.0
Score of DEKOCK is 39.0
Score of HARDIK is 87.0
Score of MILLER is 31.0
MATCH: 6.0
Score of BUTTLER is 103.0
Score of RAHUL is 103.0
Score of DEKOCK is 24.0
Score of HARDIK is 67.0
Score of MILLER is 94.0
MATCH: 7.0
Score of BUTTLER is 116.0
Score of RAHUL is 30.0
Score of DEKOCK is 3.0
Score of HARDIK is 10.0
Score of MILLER is 27.0
MATCH: 8.0
Score of BUTTLER is 8.0
Score of RAHUL is 103.0
Score of DEKOCK is 10.0
Score of HARDIK is 3.0
Score of MILLER is 17.0
MATCH: 9.0
Score of BUTTLER is 67.0
Score of RAHUL is 6.0
Score of DEKOCK is 46.0
Score of HARDIK is 1.0
Score of MILLER is 39.0
MATCH: 10.0
Score of BUTTLER is 22.0
Score of RAHUL is 77.0
Score of DEKOCK is 23.0
Score of HARDIK is 24.0
Score of MILLER is 11.0
MATCH: 11.0
Score of BUTTLER is 30.0
Score of RAHUL is 0.0
Score of DEKOCK is 50.0
Score of HARDIK is 11.0
Score of MILLER is 19.0
MATCH: 12.0
Score of BUTTLER is 7.0
Score of RAHUL is 8.0
Score of DEKOCK is 11.0
Score of HARDIK is 7.0
Score of MILLER is 26.0
MATCH: 13.0
Score of BUTTLER is 2.0
Score of RAHUL is 10.0
Score of DEKOCK is 7.0
Score of HARDIK is 62.0
Score of MILLER is 15.0
MATCH: 14.0
Score of BUTTLER is 2.0
Score of RAHUL is 68.0
Score of DEKOCK is 140.0
Score of HARDIK is 40.0
Score of MILLER is 34.0